*{
    position: relative;
    box-sizing: content-box;
    outline: solid 1px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none solid rgb(15, 15, 15);
    vertical-align: middle;
    
}


.nav{
    padding: 8px 16px 0 1px;
    outline-color: red;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    
}

.main{
    width: 88%;
    outline: solid 1px coral;
    overflow: hidden;
    
}
.section{
    height: 340px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    outline: solid 1px green;
    align-content: center;
}
.article{
    outline: solid 1px orange;
    width: 20%;
    height: 90%;
    display: flex;
    flex-direction: column;
}
.video{
    width: auto;
    height: 70%;
    outline: solid rgb(106, 255, 47) 1px;
}
.info{
    width: auto;
    height: 30%;
}
.section0{
    height: 40px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    gap: 15px;

}
.button{
    height: 24px;
    outline: none;
    background: #E5E5E5;

}
.button:hover{
    height: 24px;
    outline: none;
    background: #ffffa8;
    transition: 0.25s;
    cursor: pointer;

}
.button:active{
    height: 24px;
    outline: none;
    background: #cabf45;
    color: black;
    transform: scale(1.1);
    transition: 0.25s;


}


